fastapi
uvicorn
python-multipart
numpy
becquerel
uncertainties>=3.1
scipy
matplotlib
pyserial
websockets
reportlab
riid
tensorflow
pandas
slowapi
radiacode>=0.4.0
libusb-package  # Required for Windows USB support
